USE [master]
GO
/****** Object:  Database [RevenueManagementDb]    Script Date: 9/11/2020 12:11:02 AM ******/
CREATE DATABASE [RevenueManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RevenueManagementDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RevenueManagementDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RevenueManagementDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RevenueManagementDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RevenueManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RevenueManagementDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[OfficeArea] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[DateRegistered] [datetime] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Births]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Births](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [nvarchar](max) NOT NULL,
	[AmountPaid] [nvarchar](max) NULL,
	[Bank] [nvarchar](max) NOT NULL,
	[NameOfBaby] [nvarchar](max) NOT NULL,
	[DOB] [nvarchar](max) NULL,
	[PlaceOfBirth] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
	[CitizenId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Births] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citizens]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citizens](
	[CitizenId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[LGA] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
	[Gender] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Citizens] PRIMARY KEY CLUSTERED 
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deaths]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deaths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [nvarchar](max) NOT NULL,
	[AmountPaid] [nvarchar](max) NULL,
	[Bank] [nvarchar](max) NOT NULL,
	[NameOfDeceased] [nvarchar](max) NOT NULL,
	[DateOfDeath] [nvarchar](max) NULL,
	[PlaceOfDeath] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
	[CitizenId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Deaths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bank] [nvarchar](max) NOT NULL,
	[AmountPaid] [nvarchar](max) NULL,
	[TransactionRef] [nvarchar](max) NOT NULL,
	[LicenseType] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
	[CitizenId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Licenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marriages]    Script Date: 9/11/2020 12:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marriages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [nvarchar](max) NOT NULL,
	[AmountPaid] [nvarchar](max) NULL,
	[Bank] [nvarchar](max) NOT NULL,
	[NameOfCouple] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NULL,
	[DateRegistered] [datetime] NOT NULL,
	[CitizenId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Marriages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [FirstName], [LastName], [OfficeArea], [Email], [Username], [Password], [ConfirmPassword], [DateRegistered], [Role]) VALUES (1, N'Emmanuel', N'Ogiogio', N'Isolo', N'emmanuel.ogiogio@gmail.com', N'emmanuel', N'12345', N'12345', CAST(N'2020-08-25T19:25:48.253' AS DateTime), N'SystemAdmin')
INSERT [dbo].[Admins] ([Id], [FirstName], [LastName], [OfficeArea], [Email], [Username], [Password], [ConfirmPassword], [DateRegistered], [Role]) VALUES (2, N'Vincent', N'Ebingonye', N'Isolo', N'Vincent@gmail.com', N'vincent', N'12345', N'12345', CAST(N'2020-08-27T16:38:46.037' AS DateTime), N'Clerk')
INSERT [dbo].[Admins] ([Id], [FirstName], [LastName], [OfficeArea], [Email], [Username], [Password], [ConfirmPassword], [DateRegistered], [Role]) VALUES (3, N'Uche', N'Ebingonye', N'Ifelodun', N'uche@yahoo.com', N'uche', N'123', N'123', CAST(N'2020-08-30T23:03:21.893' AS DateTime), N'Cashier')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Births] ON 

INSERT [dbo].[Births] ([Id], [Occupation], [AmountPaid], [Bank], [NameOfBaby], [DOB], [PlaceOfBirth], [DateRegistered], [CitizenId], [Email]) VALUES (7, N'Software Developer', N'3000', N'GTBank(0054346754)', N'Jayden Emmanuel', N'12/08/2020', N'Lagos', CAST(N'2020-08-31T01:31:46.957' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
INSERT [dbo].[Births] ([Id], [Occupation], [AmountPaid], [Bank], [NameOfBaby], [DOB], [PlaceOfBirth], [DateRegistered], [CitizenId], [Email]) VALUES (10, N'Trader', N'1500', N'FirstBank(0223465478)', N'Chukwuemeka Agoamanam', N'2020-08-04', N'Lagos', CAST(N'2020-08-31T15:02:26.200' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
INSERT [dbo].[Births] ([Id], [Occupation], [AmountPaid], [Bank], [NameOfBaby], [DOB], [PlaceOfBirth], [DateRegistered], [CitizenId], [Email]) VALUES (11, N'Trader', N'1500', N'FirstBank(0223465478)', N'Jayden Emmanuel', N'2020-02-11', N'Abuja', CAST(N'2020-08-31T15:05:59.813' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
SET IDENTITY_INSERT [dbo].[Births] OFF
GO
SET IDENTITY_INSERT [dbo].[Citizens] ON 

INSERT [dbo].[Citizens] ([CitizenId], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Username], [Password], [ConfirmPassword], [LGA], [DateRegistered], [Gender]) VALUES (1, N'Emmanuel', N'Ogiogio', N'21, PaddyChuka, Divine Estate.', N'emmanuel.ogiogio@gmail.com', N'09071663584', N'emmanuel', N'12345', N'12345', N'Isolo LGA', CAST(N'2020-08-25T22:38:14.427' AS DateTime), N'Male')
INSERT [dbo].[Citizens] ([CitizenId], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Username], [Password], [ConfirmPassword], [LGA], [DateRegistered], [Gender]) VALUES (3, N'Dominic', N'Ebingonye', N'21, PaddyChuka, Divine Estate.', N'domebingonye@gmail.com', N'09071663584', N'dom', N'12345', N'12345', N'Isolo LGA', CAST(N'2020-08-26T10:25:20.000' AS DateTime), N'Male')
INSERT [dbo].[Citizens] ([CitizenId], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Username], [Password], [ConfirmPassword], [LGA], [DateRegistered], [Gender]) VALUES (4, N'Binta', N'Ali', N'3rd Street, BDPA.', N'bintaali@gmail.com', N'08042431284', N'Binta', N'ali23', N'ali23', N'Oriedo LGA', CAST(N'2020-08-26T19:01:46.000' AS DateTime), N'Female')
SET IDENTITY_INSERT [dbo].[Citizens] OFF
GO
SET IDENTITY_INSERT [dbo].[Deaths] ON 

INSERT [dbo].[Deaths] ([Id], [Occupation], [AmountPaid], [Bank], [NameOfDeceased], [DateOfDeath], [PlaceOfDeath], [DateRegistered], [CitizenId], [Email]) VALUES (2, N'Trader', N'1500', N'GTBank(0054346754)', N'Stone Brown', N'2020-08-03', N'Lagos Island', CAST(N'2020-08-30T23:18:44.933' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
SET IDENTITY_INSERT [dbo].[Deaths] OFF
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([Id], [Bank], [AmountPaid], [TransactionRef], [LicenseType], [DateRegistered], [CitizenId], [Email]) VALUES (1, N'FirstBank(0223465478)', N'2000', N'234152768', N'Television', CAST(N'2020-08-26T00:38:44.303' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
INSERT [dbo].[Licenses] ([Id], [Bank], [AmountPaid], [TransactionRef], [LicenseType], [DateRegistered], [CitizenId], [Email]) VALUES (2, N'FirstBank(0223465478)', N'2000', N'234152768', N'Television', CAST(N'2020-08-26T00:39:58.047' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
INSERT [dbo].[Licenses] ([Id], [Bank], [AmountPaid], [TransactionRef], [LicenseType], [DateRegistered], [CitizenId], [Email]) VALUES (3, N'FirstBank(0223465478)', N'2000', N'234152768', N'Television', CAST(N'2020-08-26T01:04:26.537' AS DateTime), 1, N'emmanuel.ogiogio@gmail.com')
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[Marriages] ON 

INSERT [dbo].[Marriages] ([Id], [Occupation], [AmountPaid], [Bank], [NameOfCouple], [Date], [DateRegistered], [CitizenId], [Email]) VALUES (1, N'Software Dev', N'3000', N'GTBank(0054346754)', N' Mr & Mrs Domninc Ebingonye', N'12/12/2020', CAST(N'2020-08-26T17:00:30.973' AS DateTime), 3, N'domebingonye@gmail.com')
SET IDENTITY_INSERT [dbo].[Marriages] OFF
GO
/****** Object:  Index [IX_CitizenId]    Script Date: 9/11/2020 12:11:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CitizenId] ON [dbo].[Births]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CitizenId]    Script Date: 9/11/2020 12:11:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CitizenId] ON [dbo].[Deaths]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CitizenId]    Script Date: 9/11/2020 12:11:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CitizenId] ON [dbo].[Licenses]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CitizenId]    Script Date: 9/11/2020 12:11:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CitizenId] ON [dbo].[Marriages]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Births]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Births_dbo.Citizens_CitizenId] FOREIGN KEY([CitizenId])
REFERENCES [dbo].[Citizens] ([CitizenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Births] CHECK CONSTRAINT [FK_dbo.Births_dbo.Citizens_CitizenId]
GO
ALTER TABLE [dbo].[Deaths]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Deaths_dbo.Citizens_CitizenId] FOREIGN KEY([CitizenId])
REFERENCES [dbo].[Citizens] ([CitizenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deaths] CHECK CONSTRAINT [FK_dbo.Deaths_dbo.Citizens_CitizenId]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Licenses_dbo.Citizens_CitizenId] FOREIGN KEY([CitizenId])
REFERENCES [dbo].[Citizens] ([CitizenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_dbo.Licenses_dbo.Citizens_CitizenId]
GO
ALTER TABLE [dbo].[Marriages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Marriages_dbo.Citizens_CitizenId] FOREIGN KEY([CitizenId])
REFERENCES [dbo].[Citizens] ([CitizenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Marriages] CHECK CONSTRAINT [FK_dbo.Marriages_dbo.Citizens_CitizenId]
GO
USE [master]
GO
