

<nav class="navbar navbar-inverse top-nav-menu" id="top-nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="Home">Ajeromi Ifelodun LGA, Lagos State</a>
        </div>
        @if (Session["UserId"] != null)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">@Session["Username"].ToString()</a>
                </li>
                <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
            </ul>
        }
        else
        {
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="home"><i class="fa fa-home" style="font-size: 20px;"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="glyphicon glyphicon-user"></span> </a></li>
                    <li><a href="/Admin/index"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>

            </div>
        }


    </div>
</nav>
