

<header>
    <div class="top-header">
        <h1><img src="~/Content/images/coat.png" width="60" height="60"> Revenue Collection <span style="color: #0a0;"> and Management System</span></h1>
    </div>
    
</header>
