<div class="quick-links">
    <h2>Quick Links</h2>
    <ul>
        <li><a href="/Admin/taxrevenue"><i class="fa fa-th"></i> List of Registered Citizens</a></li>
        <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
        <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="new">
            <li><a href="/Admin/birth"> Birth</a></li>
            <li><a href="/Admin/death"> Death</a></li>
            <li><a href="/Admin/marriage"> Marriage</a></li>
        </ul>
        <li><a href="/Admin/licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
        <li><a href="/Admin/registercitizen"><i class="fa fa-user"></i> Register Citizen</a></li>

        <li><a href="/Admin/registeradmin"><i class="fa fa-user"></i> Create Administrator</a></li>
        <li><a href="/Admin/manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
        <li><a href="/Admin/report"><i class="fa fa-print"></i> Report</a></li>
    </ul>
</div>
