@using RevenueManagementSystem.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@{
    var result = Session["user"] as Citizen;
}

<nav class="navbar navbar-inverse top-nav-menu" id="top-nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ajeromi Ifelodun LGA, Lagos State</a>
        </div>
        @if (result.CitizenId != 0)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">@result.FirstName</a>
                </li>
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            </ul>
        }
        else
        {
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="home"><i class="fa fa-home" style="font-size: 20px;"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="glyphicon glyphicon-user"></span> </a></li>
                    <li><a href="index"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>

            </div>
        }
    </div>
</nav>

    <section>
        <div class="row">
            <article class="row" style="margin:0px 15px 30px 15px;">
                <section class="col-md-4">
                    <div class=" boxes box1">
                        <article class="box-content row">
                            <a href="taxrevenue">

                                <div class="col-md-3">
                                    <i class="fa fa-th box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Dashboard</strong></h4>
                                    <p>List of all paid licenses, fees and levies</p>
                                    <p></p>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>
                <section class="col-md-4">
                    <div class="boxes box2">
                        <article class="box-content row">
                            <a href="birth">
                                <div class="col-md-3">
                                    <i class="fa fa-laptop box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Registration</strong></h4>
                                    <p>Register birth, death or marriage.</p>
                                    <p>AMOUNT: #1500 for each payment.</p>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>

                <section class="col-md-4">
                    <div class="boxes box3">
                        <article class="box-content row">
                            <a href="licenses">
                                <div class="col-md-3">
                                    <i class="fa fa-book box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Licenses</strong></h4>
                                    <p>Register licenses for Televisions, Wireless Radio and Marketing and Trading. </p>
                                    <p>AMOUNT: #10000 for each payment.</p>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>
                <section class="col-md-4">
                    <div class="boxes box7">
                        <article class="box-content row">

                            <a href="payment">
                                <div class="col-md-3">
                                    <i class="fa fa-bank box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Payment Option</strong></h4>
                                    <p>Bank Payment Details.</p>
                                    <p>
                                </div>
                            </a>

                        </article>

                    </div>
                </section>
                <!--<section class="col-md-4">
                    <div class="boxes box8">
                        <article class="box-content row">

                            <a href="verify">
                                <div class="col-md-3">
                                    <i class="fa fa-edit box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Verify Payment</strong></h4>
                                    <p>This can only be done after payments have been made to the bank.</p>
                                </div>
                            </a>

                        </article>

                    </div>
                </section>-->

                <section class="col-md-4">

                    <div class="boxes box6">
                        <article class="box-content row">
                            <a href="manageaccount">
                                <div class="col-md-3">
                                    <i class="fa fa-users box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>Manage Account</strong></h4>
                                    <p>Update Account</p>
                                </div>
                            </a>

                        </article>

                    </div>
                </section>
                <section class="col-md-4">
                    <div class="boxes box4">
                        <article class="box-content row">

                            <a href="citizenprofile">
                                <div class="col-md-3">
                                    <i class="fa fa-print box-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h4><strong>My Profile</strong></h4>
                                    <p>View and Edit Personal profile p>
                                    <p></p>
                                </div>
                            </a>

                        </article>

                    </div>
                </section>

            </article>
        </div>
    </section>
