@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}



<nav class="navbar navbar-inverse top-nav-menu" id="top-nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Ajeromi Ifelodun LGA, Lagos State</a>
        </div>
    </div>
</nav>
<section>
    <div class="row">
        <div class="col-sm-4 col-sm-12">
            <img class="img-responsive side-imgs" src="~/Content/images/certification-testing.jpg" style="width:100%;" alt="" width="400" height="400" />
        </div>
        <div class="col-sm-4">
            <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
                <h3><i class="fa fa-user"></i> Sign in to continue</h3>
                @if (ViewBag.Message != null)
                {
                    <p style="color:#ff1a1a">@ViewBag.Message</p>
                }
                <div class="form-group"></div>
                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="input-username"></label>
                    <input type="text" class="form-control" placeholder="Username" value="" data-required="true" data-required-msg="Your username is required" name="Username" id="input-username" />
                    <span class="glyphicon form-control-feedback hidden-xs" id="username-validator"></span>
                </div>

                <div class="form-group">
                    <label class="fa fa-lock form-control-icon" for="input-password"></label>
                    <input type="password" name="Password" placeholder="Password" class="form-control" data-required="true" data-required-msg="Your password is required" id="input-password" />
                    <span class="glyphicon form-control-feedback hidden-xs" id="password-validator"></span>
                </div>
                <div class="form-group">
                    <button type="submit" name="Login" class="btn btn-primary" id="ButtonLogin">
                        <i class="fa fa-sign-in"></i> Login
                    </button>
                </div>
                <p>
                    <span><a class="navbar-brand" href="/Home/RegisterClient" style="text-decoration:underline;">Register Client</a></span>
                    <span><a class="navbar-brand" href="/Home/Recoverpass" style="text-decoration:underline;">Recover Pass</a></span>
                </p>
            </form>
        </div>
        <div class="col-sm-4 hidden-xs" style="width: 31.333333%;">
            <img src="~/Content/images/income.jpg" alt="" class="img-responsive side-imgs" width="430" height="350" />
        </div>
    </div>
</section>
<div id="backtotop" title="Scroll to top"></div>

