@using RevenueManagementSystem.Models
@{
    ViewBag.Title = "Licenses";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}


@{
    var res = Session["user"] as Citizen;
}

@Html.Partial("_HeaderTwoPartial")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="taxrevenue"><i class="fa fa-th"></i> Dashboard</a></li>
                    <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li><a href="birth"> Birth</a></li>
                        <li><a href="death"> Death</a></li>
                        <li><a href="marriage"> Marriage</a></li>
                    </ul>
                    <li><a href="licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
                    <li><a href="payment"><i class="fa fa-bank"></i> Payment Option</a></li>
                    <!--<li><a href="verify"><i class="fa fa-edit"></i> Verify Payment</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-user"></i> Create Administrator</a></li>-->
                    <li><a href="manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
                    <li><a href="citizenprofile"><i class="fa fa-print"></i> Profile</a></li>
                </ul>
            </div>

        </aside>
        <article class="col-md-9">

            @if (ViewBag.Feedback != null)
            {
                <div class="alert alert-success"> @ViewBag.Feedback</div>
            }


            <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
                <h3 class="text-center">Licenses For Citizens In The Local Government</h3>
                <p>Please enter payment information</p>
                <div class="form-group"></div>

                <div class="form-group">
                    <label class="fa fa-money form-control-icon" for="amount"></label>
                    <input type="number" class="form-control" placeholder="Amount paid" value="" data-required="true" data-required-digits="true" data-required-msg="Your amount is required" name="AmountPaid" id="amount" />
                </div>

                <div class="form-group">
                    <label class="fa fa-building form-control-icon" for="location"></label>
                    <input type="number" class="form-control" placeholder="Transaction Reference" data-required="true" data-required-msg="Location is required" name="TransactionRef" id="location" />
                </div>
                <div class="form-group">
                    <label class="fa fa-bank form-control-icon" for="bank"></label>
                    <select name="Bank" class="form-control" data-required="true" data-required-msg="Select the type" id="bank">
                        <option value="">Bank</option>
                        <option value="FirstBank(0223465478)">First Bank (0223465478)</option>
                        <option value="GTBank(0054346754)">GTBank (0054346754)</option>
                        <option value="Diamond(0007554354)">Diamond (0007554354)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="licenseType"></label>
                    <select name="LicenseType" class="form-control" data-required="true" data-required-msg="Select license type" id="licenseType">
                        <option value="">Type of license</option>
                        <option value="Television">Television</option>
                        <option value="Radio">Radio </option>
                        <option value="MarketingAndTrading">Marketing and Trading</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="fa fa-envelope form-control-icon" for="Email"></label>
                    <input type="Email" class="form-control" placeholder="E-mail address" name="Email" id="Email" />
                </div>


                <div class="form-group">
                    <button type="submit" name="Register" class="btn btn-success" id="ButtonLogin">
                        <i class="fa fa-upload"></i> Register
                    </button>


                </div>



            </form>
        </article>
    </div>
</section>

