
@{
    ViewBag.Title = "Death Registration";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@Html.Partial("_AdminHeader")

<section class="container">
    <div class="row">
        <aside class="col-md-3">
@Html.Partial("_SidePanel")

        </aside>
        <article class="col-md-9">
            <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
                <h3 class="text-center">Death Registration</h3>
                <p>Please enter the details of the individual to register</p>

                <div class="form-group">
                    <label class="fa fa-stethoscope form-control-icon" for="Occupation"></label>
                    <input type="text" class="form-control" placeholder="Occupation" value="" data-required="true" data-required-msg="Your occupation is required" name="Occupation" id="occupation" />
                </div>

                <div class="form-group">
                    <label class="fa fa-money form-control-icon" for="amount"></label>
                    <input type="text" class="form-control" placeholder="Amount paid" value="" data-required="true" data-required-digits="true" data-required-msg="Your amount is required" name="AmountPaid" id="amount" />
                </div>

                <div class="form-group">
                    <label class="fa fa-bank form-control-icon" for="bank"></label>
                    <select name="Bank" class="form-control" data-required="true" data-required-msg="Select the type" id="Bank">
                        <option value="">Bank</option>
                        <option value="FirstBank(0223465478)">First Bank (0223465478)</option>
                        <option value="GTBank(0054346754)">GTBank (0054346754)</option>
                        <option value="Diamond(0007554354)">Diamond (0007554354)</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="NameOfDeceased"></label>
                    <input type="text" class="form-control" placeholder="Name of Deceased" data-required="true" data-required-msg="The name of the baby is required" name="NameOfDeceased" id="baby-name" />
                </div>
                <div class="form-group">
                    <label class="fa fa-clock-o form-control-icon" for="DateOfDeath"></label>
                    <input type="text" class="form-control" placeholder="Date of Death" data-required="true" data-required-msg="The time of birth is required" name="DateOfDeath" id="birth-time" />
                </div>
                <div class="form-group">
                    <label class="fa fa-map-marker form-control-icon" for="PlaceOfDeath"></label>
                    <input type="text" class="form-control" placeholder="Place of Death" data-required="true" data-required-msg="The place of birth is required" name="PlaceOfDeath" id="birth-place" />
                </div>

                <div class="form-group">
                    <label class="fa fa-envelope form-control-icon" for="Email"></label>
                    <input type="text" class="form-control" placeholder="E-mail address" value="" name="Email" id="Email" />
                </div>

                <div class="form-group">
                    <button type="submit" name="Register" class="btn btn-success" id="ButtonLogin">
                        <i class="fa fa-upload"></i> Register
                    </button>
                        <a href="RegisteredDeath" >View List of Registered Deaths </a>
                </div>

            </form>
        </article>
    </div>
</section>



