
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}


@Html.Partial("_AdminHeader")
<section>
    <div class="row">
        <article class="row" style="margin:0px 15px 30px 15px;">
            <section class="col-md-4">
                <div class=" boxes box1">
                    <article class="box-content row">
                        <a href="taxrevenue">

                            <div class="col-md-3">
                                <i class="fa fa-th box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Registered Ctiizens</strong></h4>
                                <p>List of all registered citizens</p>
                                <p>This function is restricted from the Cashier.</p>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
            <section class="col-md-4">
                <div class="boxes box2">
                    <article class="box-content row">
                        <a href="birth">
                            <div class="col-md-3">
                                <i class="fa fa-laptop box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Registration</strong></h4>
                                <p>Register individuals by birth, death or marriage.</p>
                                <p>This function is restricted from the Cashier.</p>
                            </div>
                        </a>
                    </article>
                </div>
            </section>

            <section class="col-md-4">
                <div class="boxes box3">
                    <article class="box-content row">
                        <a href="licenses">
                            <div class="col-md-3">
                                <i class="fa fa-book box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Licenses</strong></h4>
                                <p>Upload licenses for Televisions, Wireless Radio and Marketing and Trading. </p>
                                <p>This function is restricted from the Cashier.</p>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
            <section class="col-md-4">
                <div class="boxes box7">
                    <article class="box-content row">

                        <a href="payment">
                            <div class="col-md-3">
                                <i class="fa fa-bank box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Payment Option</strong></h4>
                                <p>Bank Payment Details.</p>
                                <p>
                            </div>
                        </a>

                    </article>

                </div>
            </section>
            <!--<section class="col-md-4">
                <div class="boxes box8">
                    <article class="box-content row">

                        <a href="verify">
                            <div class="col-md-3">
                                <i class="fa fa-edit box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Verify Payment</strong></h4>
                                <p>This function is reserved for the Cashier and SysAdmin.</p>
                            </div>
                        </a>

                    </article>

                </div>
            </section>-->

            <section class="col-md-4">
                <div class="boxes box5">
                    <article class="box-content row">
                        <a href="registeradmin" class="check-role">
                            <div class="col-md-3">
                                <i class="fa fa-user box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Create Administrator</strong></h4>
                                <p>Create and assign roles to administrators.</p>
                                <p>This function can only be performed by the SysAdmin.</p>
                            </div>
                        </a>

                    </article>

                </div>
            </section>
            <section class="col-md-4">

                <div class="boxes box6">
                    <article class="box-content row">
                        <a href="manageaccount">
                            <div class="col-md-3">
                                <i class="fa fa-users box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Manage Account</strong></h4>
                                <p>Update Account</p>
                            </div>
                        </a>

                    </article>

                </div>
            </section>
            <section class="col-md-4">
                <div class="boxes box4">
                    <article class="box-content row">

                        <a href="report">
                            <div class="col-md-3">
                                <i class="fa fa-print box-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <h4><strong>Report</strong></h4>
                                <p>Print Property Tax and Rating and Fees generated.</p>
                                <p>This function can only be performed by the Clerk and SysAdmin.</p>
                            </div>
                        </a>

                    </article>

                </div>
            </section>
            </article>
    </div>
</section>
<div id="backtotop" title="Scroll to top"></div>

