@using RevenueManagementSystem.Models
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@{
    var User = Session["user"] as Citizen;
}

<nav class="navbar navbar-inverse top-nav-menu" id="top-nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ajeromi Ifelodun LGA, Lagos State</a>
        </div>
        @if (User != null)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">@User.FirstName</a>
                </li>
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            </ul>
        }
        else
        {
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="home"><i class="fa fa-home" style="font-size: 20px;"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="glyphicon glyphicon-user"></span> </a></li>
                    <li><a href="index"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>

            </div>
        }
    </div>
</nav>
<section class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="taxrevenue"><i class="fa fa-th"></i> List of Registered Citizens</a></li>
                    <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li><a href="birth"> Birth</a></li>
                        <li><a href="death"> Death</a></li>
                        <li><a href="marriage"> Marriage</a></li>
                    </ul>
                    <li><a href="licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
                    <li><a href="registercitizen"><i class="fa fa-user"></i> Register Citizen</a></li>
                    <li><a href="payment"><i class="fa fa-bank"></i> Payment Option</a></li>
                    <!--li><a href="verify"><i class="fa fa-edit"></i> Verify Payment</a></!--li>-->
                    <li><a href="registeradmin"><i class="fa fa-user"></i> Create Administrator</a></li>
                    <li><a href="manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
                    <li><a href="report"><i class="fa fa-print"></i> Report</a></li>
                </ul>
            </div>

        </aside>
        <article class="col-md-9">
            @if (ViewBag.Message != null)
            {

                var id = ViewBag.Message as int?;

                <div class="alert alert-success">
                    @Html.ActionLink("Login here", "index", "Home")
                </div>
            }

            <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form">
                <h3 class="text-center">Change your password</h3>
                <div class="form-group"></div>

                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="username"></label>
                    <input type="text" class="form-control" placeholder="Username" value="" data-required="true" data-required-msg="Your username is required" name="Username" id="username" />
                </div>
                <div class="form-group">
                    <label class="fa fa-lock form-control-icon" for="newPass"></label>
                    <input type="password" class="form-control" placeholder="New password" value="" data-required="true" data-compare="confirmNewPass" data-required-msg="New password required" name="Password" id="newPass" />
                </div>
                <div class="form-group">
                    <label class="fa fa-lock form-control-icon" for="confirmNewPass"></label>
                    <input type="password" class="form-control" placeholder="Confirm new password" value="" data-required="true" data-compare="newPass" data-required-msg="Confirm password required" name="ConfirmPassword" id="confirmNewPass" />
                </div>

                <div class="form-group">
                    <button type="submit" name="" class="btn btn-success" id="ButtonLogin">
                        <i class="fa fa-upload"></i> Update
                    </button>
                </div>

            </form>

        </article>
    </div>
</section>

<div id="backtotop" title="Scroll to top"></div>

