
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@Html.Partial("_AdminHeader")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
@Html.Partial("_SidePanel")

        </aside>
        @if (ViewBag.Feedback != null)
        {
            <div class="alert alert-success"> @ViewBag.Feedback</div>
        }

        <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
            <h3><i class="fa fa-user"></i> Supply Your Details</h3>
            <div class="form-group"></div>
            <div class="form-group">
                <label class="fa fa-user form-control-icon" for="input-username" style="top:0px;bottom:0px;"></label>
                <input type="text" name="FirstName" required placeholder="First name" class="ui-corner-all" style="padding:5px;width:90%;margin-left: 28px;" data-required="true" id="input-username" />
            </div>
            <div class="form-group">
                <label class="fa fa-user form-control-icon" for="input-username" style="top:0px;bottom:0px;"></label>
                <input type="text" name="LastName" required placeholder="Last name" style="padding:5px;width:90%;margin-left: 28px;" data-required="true" />
            </div>
            <div class="form-group">
                <label class="fa fa-map-marker form-control-icon" for="input-address" style="top:0px;bottom:0px;"></label>
                <input type="text" name="Address" required placeholder="Full address" style="padding:5px;width:90%;margin-left:28px;" id="input-address" data-required="true" />
            </div>
            <div class="form-group">
                <label class="fa fa-exchange form-control-icon" for="input-email" style="top:0px;bottom:0px;"></label>
                <input type="email" name="Email" required placeholder="Email" style="padding:5px;width:90%;margin-left: 28px;" data-required="true" id="input-email" />
            </div>
            <div class="form-group">
                <label class="fa fa-phone form-control-icon" for="input-phone" style="top:0px;bottom:0px;"></label>
                <input type="tel" pattern="\d{11}" title="Enter 11 digits phone number" name="PhoneNumber" required placeholder="Phone number" style="padding:5px;width:90%;margin-left: 28px;" id="input-phone" data-required="true" />
            </div>
            <div class="form-group">
                <label class="fa fa-user form-control-icon" for="input-username" style="top:0px;bottom:0px;"></label>
                <input type="text" name="Username" required placeholder="Username" style="padding:5px;width:90%;margin-left: 28px;" data-required="true" />
            </div>
            <div class="form-group">
                <label class="fa fa-lock form-control-icon" for="client-pass" style="top:0px;bottom:0px;"></label>
                <input type="password" title="Password" name="Password" required placeholder="Password" id="client-pass" style="padding:5px;width:90%;margin-left:28px;" data-required="true" />
            </div>
            <div class="form-group">
                <label class="fa fa-lock form-control-icon" for="client-pass" style="top:0px;bottom:0px;"></label>
                <input type="Password" title="ConfirmPassword" name="ConfirmPassword" required placeholder="ConfirmPassword" id="client-pass" style="padding:5px;width:90%;margin-left:28px;" data-required="true" />
            </div>

            <div class="form-group">
                <label class="fa fa-map-marker form-control-icon" for="client-pass" style="top:0px;bottom:0px;"></label>
                <input type="text" title="LGA" name="LGA" required placeholder="LGA" id="client-pass" style="padding:5px;width:90%;margin-left:28px;" data-required="true" />
            </div>

            <div class="form-group">
                <label class="fa fa-user form-control-icon" for="logintype"></label>
                <select name="Gender" class="form-control" data-required="true" data-required-msg="Select the type" id="Gender" style="width:745px;">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                </select>
            </div>

            <div class="form-group">
                <button type="submit" name="Register" class="btn btn-primary" id="ButtonLogin">
                    <i class="fa fa-sign-in"></i> Submit
                </button>
            </div>
        </form>
    </div>
</section>

