
@{
    ViewBag.Title = "Register Admin";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}


@Html.Partial("_AdminHeader")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
@Html.Partial("_SidePanel")

        </aside>
        <article class="col-md-9">
            @if (ViewBag.Feedback != null)
            {
                <div class="alert alert-success"> @ViewBag.Feedback</div>
            }


            <form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
                <h3 class="text-center">Create New Admin</h3>
                <input name="__RequestVerificationToken" type="hidden" value="Im3GcxHLqzIJtML-yWV8QxttO-U3_ZHijL1YsZr6edV8afRzxSlu5IiY0cL_y5EM5glHo4ciSMvtHBnOd4QjIPocuOOFaN_uSkdzfT080VI1" />    <div class="form-horizontal">

                    <hr />

                    <div class="form-group">
                        <label class="control-label col-md-2" for="FirstName">FirstName</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="First Name is required!" id="FirstName" name="FirstName" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="LastName">LastName</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Last Name is required!" id="LastName" name="LastName" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="OfficeArea">OfficeArea</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Last Name is required!" id="OfficeArea" name="OfficeArea" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="OfficeArea" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Email">Email</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-email="Invalid Email" data-val-required="Email is required!" id="Email" name="Email" type="email" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Username">Username</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Last Name is required!" id="Username" name="Username" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Password">Password</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line password" data-val="true" data-val-required="Password is required!" id="Password" name="Password" type="password" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ConfirmPassword">ConfirmPassword</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line password" data-val="true" data-val-equalto="Please confirm your password" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" for="Role">Role</label>
                        <div class="col-md-10">
                            <select class="form-control" data-val="true" data-val-required="The Role field is required." id="Role" name="Role">
                                <option selected="selected" value="Role">Role</option>
                                <option value="Cashier">Cashier</option>
                                <option value="Clerk">Clerk</option>
                                <option value="SystemAdmin">System Admin</option>
                            </select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Role" data-valmsg-replace="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>




            <!--form class="form-horizontal center-container" role="form" action="" method="post" id="login-form" enctype="multipart/form-data">
                <h3 class="text-center">Register a new administrator</h3>
                <p>Please enter the details of the individual to register</p>
                <div class="form-group"></div>
                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="fullname"></label>
                    <input type="text" class="form-control" placeholder="Full name with surname first" value="" data-required="true" data-required-msg="Your fullname is required" name="fullname" id="fullname" />
                </div>
                <div class="form-group">
                    <label class="fa fa-institution form-control-icon" for="dept"></label>
                    <input type="text" class="form-control" placeholder="Area Office" value="" data-required="true" data-required-msg="Your department is required" name="dept" id="dept" />
                </div>
                <div class="form-group">
                    <label class="fa fa-user form-control-icon" for="username"></label>
                    <input type="text" class="form-control" placeholder="Username" value="" data-required="true" data-required-msg="Your username is required" name="username" id="username" />
                </div>
                <div class="form-group">
                    <label class="fa fa-lock form-control-icon" for="pass"></label>
                    <input type="password" class="form-control" placeholder="Password" value="" data-required="true" data-compare="confirmPass" data-required-msg="Your password is required" name="pass" id="pass" />
                </div>
                <div class="form-group">
                    <label class="fa fa-lock form-control-icon" for="confirmPass"></label>
                    <input type="password" class="form-control" placeholder="Confirm password" value="" data-required="true" data-compare="pass" data-required-msg="Confirm your password" name="confirmPass" id="confirmPass" />
                </div>
                <div class="form-group">
                    <label class="fa fa-building form-control-icon" for="role"></label>
                    <select name="type" class="form-control" data-required="true" data-required-msg="Select the type" id="role">
                        <option value="">Role</option>
                        <option value="Cashier">Cashier</option>
                        <option value="Clerk">Clerk</option>
                        <option value="SysAdmin">SysAdmin</option>
                    </select>
                </div>


                <div class="form-group">
                    <button type="submit" name="submitCredentials" class="btn btn-success" id="ButtonLogin">
                        <i class="fa fa-upload"></i> Register
                    </button>
                </div>

            </!--form>-->


        </article>
    </div>
</section>

<div id="backtotop" title="Scroll to top"></div>

